人工智能实验课/logs/captcha_logs/events.out.tfevents.1571805194.DESKTOP-6EHJTHF
AI_Lab/04model/checkpoint
AI_Lab/04model/crack_capcha.model-5000.data-00000-of-00001
AI_Lab/04model/crack_capcha.model-5000.index
AI_Lab/04model/crack_capcha.model-5000.meta
AI_Lab/04model1/checkpoint
AI_Lab/04model1/crack_capcha.model-0.data-00000-of-00001
AI_Lab/04model1/crack_capcha.model-0.index
AI_Lab/04model1/crack_capcha.model-0.meta
AI_Lab/MNIST_data/t10k-images-idx3-ubyte.gz
AI_Lab/MNIST_data/t10k-labels-idx1-ubyte.gz
AI_Lab/MNIST_data/train-images-idx3-ubyte.gz
AI_Lab/MNIST_data/train-labels-idx1-ubyte.gz
AI_Lab/logs/captcha1_logs/events.out.tfevents.1571835175.DESKTOP-6EHJTHF
AI_Lab/logs/captcha1_logs/events.out.tfevents.1571835824.DESKTOP-6EHJTHF
AI_Lab/logs/captcha1_logs/events.out.tfevents.1571836156.DESKTOP-6EHJTHF
AI_Lab/logs/captcha_logs/events.out.tfevents.1571812442.DESKTOP-6EHJTHF
AI_Lab/logs/cnn_logs/events.out.tfevents.1571892637.DESKTOP-6EHJTHF
MNIST_data/t10k-images-idx3-ubyte.gz
MNIST_data/t10k-labels-idx1-ubyte.gz
MNIST_data/train-images-idx3-ubyte.gz
MNIST_data/train-labels-idx1-ubyte.gz
logs/cnn_logs/events.out.tfevents.1571750821.DESKTOP-6EHJTHF
logs/my_logs/events.out.tfevents.1571890105.DESKTOP-6EHJTHF
logs/my_logs/events.out.tfevents.1571890131.DESKTOP-6EHJTHF
logs/my_logs/events.out.tfevents.1571893841.DESKTOP-6EHJTHF
